<h1>Thanh toán</h1>

<%= form_with(url: payments_path, remote: true) do |form| %>
  <div class="field">
    <p>Chọn phương thức thanh toán:</p>
    <label>
      <%= form.radio_button :payment_method, 'paypal' %>
      PayPal
    </label>
    <label>
      <%= form.radio_button :payment_method, 'stripe' %>
      Stripe
    </label>
  </div>
  <%= form.submit "Thanh toán", class: 'btn btn-primary' %>
<% end %>

<br/>
<br/>

<%= form_with(url: refund_payments_path, method: :post, remote: true) do |form| %>
  <div class="field">
    <%= form.label :transaction_id, 'Transaction ID:' %>
    <%= form.text_field :transaction_id, placeholder: 'Enter transaction ID' %>
  </div>
  <div class="actions">
    <%= form.submit 'Refund', class: 'btn btn-primary' %>
  </div>
<% end %>

<pre id="response">
  <% if @response %>
    <% if @response.success? %>
      <p>Hoàn tiền thành công!</p>
    <% else %>
      <p>Hoàn tiền không thành công. Vui lòng thử lại sau.</p>
    <% end %>
  <% end %>
</pre>


<%= javascript_tag do %>

document.addEventListener("DOMContentLoaded", function() {
  document.querySelector('#response').innerHTML = "";

  document.querySelectorAll('form').forEach(form => {
    form.addEventListener('ajax:success', (event) => {
      const [data, status, xhr] = event.detail;
      const responseDiv = document.querySelector('#response');
      console.log(data);
      responseDiv.innerHTML = JSON.stringify(data, null, 2);
    });

    form.addEventListener('ajax:error', (event) => {
      const [data, status, xhr] = event.detail;
      console.log(data);
      const responseDiv = document.querySelector('#response');
      responseDiv.innerHTML = "Có lỗi xảy ra. Vui lòng thử lại sau.";
    });
  });
});
<% end %>